

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
}

.clearfix:after {
	clear: both;
}

.menu {
	transform: translateZ(0);
	z-index: 10;
}

.dummy__item {
	height: 28px;
	width: 180px;
	line-height: 24px;
	padding-left: 20px;
	margin: 1em 1.25em;
	/*pointer-events: none;*/
	border-radius: 3px;
	border: 2px solid #F0F0F0;

	/*background-color: #2BB8AA;*/
	background-color: #81C7D4;
	/*background-color: rgba(128, 128, 128, 0.4);*/
	color: #fff;
	cursor: pointer;
	/*box-shadow: 1px 1px 2px #333;*/
	/*opacity: 0.7;*/
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);

	transform: translateZ(0);
}

.dummy__item {
	-webkit-transform: translate3d(-100%, 0, 0) translate3d(-2em, 0, 0) scale3d(0.5, 1, 1);
	transform: translate3d(-100%, 0, 0) translate3d(-2em, 0, 0) scale3d(0.5, 1, 1);
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}

.device--alt .dummy__item {
	-webkit-transform: translate3d(0, 260px, 0) scale3d(1, 0.2, 1);
	transform: translate3d(0, 260px, 0) scale3d(1, 0.2, 1);
}

.dummy--active .dummy__item {
	-webkit-transition-timing-function: cubic-bezier(0.56, 1.19, 0.2, 1.05);
	transition-timing-function: cubic-bezier(0.56, 1.19, 0.2, 1.05);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;
}

.dummy__item:nth-child(7),
.dummy--active .dummy__item:first-child {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.dummy__item:nth-child(6),
.dummy--active .dummy__item:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.1s;
}

.dummy__item:nth-child(5),
.dummy--active .dummy__item:nth-child(3) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.15s;
}

.dummy__item:nth-child(4),
.dummy--active .dummy__item:nth-child(4) {
	-webkit-transition-delay: 0.25s;
	transition-delay: 0.2s;
}

.dummy__item:nth-child(3),
.dummy--active .dummy__item:nth-child(5) {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.25s;
}

.dummy__item:nth-child(2),
.dummy--active .dummy__item:nth-child(6) {
	-webkit-transition-delay: 0.35s;
	transition-delay: 0.3s;
}

.dummy__item:first-child,
.dummy--active .dummy__item:nth-child(7) {
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}
