
html {
    /*height: 100%;*/
}

.item {
    margin-top: 20px;
    width: 300px;
    height: 40px;
    line-height: 40px;
    background-color: #e0e0e0;
    color: #505050;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.item:hover {
    background-color: #81C7D4;
    color: #FFF;
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.75);
}

.item-name {
    margin-left: 40px;
}

.main-list {
    margin-top: 120px;
    padding-bottom: 40px;
}
