html {
    /*height: 100%;*/
}

.header {
    height: auto;
    padding: 10px 20px 0 20px;
}

.header .tab-item {
    margin-right: 20px;
    border-bottom: 3px solid transparent;
    transition: 0.5s;
}

.header h2 {
    margin: 5px 0;
}

.header .tab-item.focus {
    border-color: #FFF;
}

.header .tab-item:hover {
    border-color: #FFF;
}

.header .tab-item a {
    color: #FFF;
    cursor: pointer;
}

.item {
    margin-top: 20px;
    width: 340px;
    /*height: 40px;*/
    line-height: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 3px #555;
    padding: 10px;
    cursor: pointer;
}

.item a {
    margin-top: 10px;
    font-size: 12px;
    transition: 0.5s;
    cursor: pointer;
}

.item-sender:hover {
    color: #2BB8AA;
}

.item-name {
    margin-right: 40px;
}

.item-info {
    margin-top: 10px;
}

.item-time {
    margin-left: 40px;
    color: #ccc;
}

p.item-content {
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid #ededed;
}

.main-list {
    margin-bottom: 40px;
    margin-top: 120px;
}

.main-list .user-item {
    margin: 5px 8px;
    background-color: #F0F0F0;
    border-radius: 3px;
    border: 2px solid transparent;
    padding: 0 4px;
    cursor: pointer;
    font-size: 12px;
    transition: 0.5s;
}

.main-list .target-user {
    border-color: #2BB8AA;
}

.J-refresh {
    margin-top: 14px;
}

.footer {
    width: 100%;
    border-top: 1px solid #ddd;
    position: fixed;
    bottom: 0;
    padding: 5px 5% 10px 5%;
}

.footer input {
    box-sizing: border-box;
    display: inline-block;
    border: 0;
    height: 20px;
    width: 120px;
    border-bottom: 1px solid #007D9E;
    margin-top: 15px;
    font-size: 16px;
    text-align: center;
    outline: none;
}

.footer textarea {
    box-sizing: border-box;
    border: 2px solid #2BB8AA;
    outline: none;
}

#content {
    margin: 10px 5%;
    padding: 10px;
    width: 90%;
    height: 100px;
    border: 2px dashed #2BB8AA;
    border-radius: 5px;
    overflow: auto;
    outline: none;
    font-size: 14px;
    line-height: 20px;
}

/* tmp btn*/

.btn-wp {
    height: 40px;
    margin-bottom: 30px;
}

.ft-left {
    width: 50%;
}

.ft-right {
    width: 50%;
}

.input-btn {
    display: block;
    box-sizing: border-box;
    height: 30px;
    width: 130px;
    line-height: 30px;
    font-size: 14px;
    border-radius: 100px;
    text-align: center;
}

.send-btn {
    background-color: #2BB8AA;
    color: #FFFFFF;
}

.clear-btn {
    border: 1px solid #2BB8AA;
    color: #2BB8AA;
}