html {
    /*height: 100%;*/
}

.header ul {
    position: absolute;
    bottom: 0;
}

.header .tab-item {
    margin-right: 20px;
    border-bottom: 3px solid transparent;
    transition: 0.5s;
}

.header .tab-item.focus {
    border-color: #FFF;
}

.header .tab-item:hover {
    border-color: #FFF;
}

.header .tab-item a {
    color: #FFF;
    cursor: pointer;
}

.main-list {
    margin-top: 120px;
}

.item {
    margin-top: 20px;
    width: 80%;
    height: 40px;
    margin-left: 10%;
    line-height: 40px;
    background-color: #e0e0e0;
    color: #505050;
    border-radius: 5px;
    cursor: pointer;
    padding-right: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: 0.3s;
}

.item:hover {
    background-color: #81C7D4;
    color: #FFF;
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.75);
}


.item a {
    margin-top: 10px;
    /*max-width: 300px;*/

    font-size: 14px;
    cursor: pointer;
}

.item-sender:hover {
    color: #2BB8AA;
}

.item-name {
    margin-right: 40px;
}

.item-info {
    margin-top: 10px;
}

.item-time {
    margin-left: 40px;
    color: #ccc;
}

p.item-content {
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid #ededed;
}

.main-list {
    margin-bottom: 40px;
}
